body {
	font-family: Roboto, helvetica, sans-serif;
}
.margin-zero {
	background-color: rgba(150, 5, 115, 0.09);
}

.intro {
	padding: 2em 2em;
	background: #12007F;
	background: -webkit-linear-gradient(#12007F, #960573);
	background:    -moz-linear-gradient(#12007F, #960573);
	background:         linear-gradient(125deg, #12007F, #960573);
	/*color: #FFF5FF;*/
	color: rgba(255, 255, 255, 0.8);
	height: 100%;
}

@media screen and (min-width: 480px) {
    .intro {
        padding: 6em 2em;
    }
}

.intro p {
	color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
	color: #12007F;
}
